.right{
    position: relative;
    top: 20%;
    left: 50%;
    margin: 30px;
    padding: 30px;
    background-color: bisque;
    width: 50%;
}
.left{
    position: relative;
    width: 50%;
    margin: 30px;
    padding: 30px;
    top: 20%;
    background-color: darkgray;
}